@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page__body {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.main-header__wrapper {
  width: 320px;
  background-color: #ffffff;
}
.main-nav {
  background-color: #81b3d2;
}
.main-nav__list {
  font-family: "PT Sans", sans-serif;
}
.site-list {
  margin: 0;
  padding: 0;
  min-height: 55px;
}
.site-list__item {
  list-style-type: none;
}
.site-list__item--main {
  padding: 17px 108px 12px 109px;
}
.site-list__item--multimedia {
  padding: 17px 83px 12px 81px;
}
.site-list__item--form {
  padding: 17px 78px 12px 77px;
}
.site-list__item--academy {
  padding: 17px 81px 12px 81px;
}
.site-list__link {
  min-height: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.main-container__promo {
  width: 320px;
  min-height: 389px;
  background-color: #3f5e72;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.reasons__wrapper {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
}
.reasons__header {
  margin: 0;
  padding: 32px 20px 32px 18px;
}
.reasons__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}
.reasons__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.reasons__list {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.reasons__city {
  background-color: #81b3d2;
  padding: 51px 22px 43px 16px;
}
.reasons__background {
  background-color: #81b3d2;
  padding: 39px 16px 35px 15px;
}
.reasons__item--square {
  padding: 26px 26px 24px;
}
.reasons__item--road {
  padding: 24px 23px;
}
.reasons__item--tourist {
  padding: 26px 18px 24px;
}
.reasons__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}
.reasons__title--colour {
  color: #ffffff;
}
.reasons__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}
.reasons__number--colour {
  color: #ffffff;
}
.reasons__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-top: 17px;
}
.reasons__description--colour {
  color: #ffffff;
}
.advantages {
  position: relative;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  padding: 23px 18px 22px;
}
.advantages__item--housing {
  padding-top: 8px;
}
.advantages__item--housing::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-house.svg");
  width: 39px;
  height: 37px;
  left: 18px;
  top: 26px;
  background-repeat: no-repeat;
}
.advantages__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-burger.svg");
  width: 40px;
  height: 35px;
  left: 18px;
  top: 160px;
  background-repeat: no-repeat;
}
.advantages__item--gift::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-gift.svg");
  width: 32px;
  height: 38px;
  left: 18px;
  top: 265px;
  background-repeat: no-repeat;
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 47px;
}
.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 47px;
}
.search {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
}
.search__wrapper {
  padding: 38px 29px 32px 30px;
}
.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 21px;
}
.search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.search__button {
  display: block;
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: #81b3d2;
  padding: 16px 49px;
  margin: 0 18px 49px;
}
.map {
  background-color: #9acd32;
}
.main-footer__wrapper {
  background-color: #ffffff;
  text-align: center;
}
.main-footer__hashtag-link {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  padding: 38px 78px 33px 76px;
}
.main-footer__social {
  padding: 33px 80px 40px 84px;
}
.main-footer__copyright {
  padding: 0 96px 23px 80px;
}
.social__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.social__item {
  background-color: #81b3d2;
  padding: 12px 13px;
}
.social__item--telegram {
  margin-left: 6px;
  margin-right: 6px;
}
.copyright__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}
.page-main__promo {
  width: 320px;
  min-height: 214px;
  background-image: url("../img/catalog-form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f5e72;
}
.page-main__promo-logo {
  padding-top: 52px;
}
.page-main__header {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  padding: 33px 20px 20px;
}
.page-main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 46px;
}
.page-main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}
.page-main__photo {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.page-main__video-gallery {
  font-family: "PT Sans", sans-serif;
}
.photo__item {
  padding: 24px 20px 25px;
}
.photo__wrapper {
  background-color: #ff8c00;
}
.photo__information {
  text-align: left;
}
.photo__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.photo__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-bottom: 11px;
}
.photo__likes {
  text-align: left;
}
.photo__like {
  margin-right: 14px;
  border: none;
  background-color: #ffffff;
}
.photo__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 5px;
}
.video__wrapper {
  padding: 17px 26px 38px 28px;
}
.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 27px;
}
.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}
.feedback {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
}
.form__fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}
.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 24px 75px 0 75px;
}
.form__group {
  list-style-type: none;
}
.form__fullname-wrapper {
  margin: 0;
  padding: 20px 20px 23px;
}
.form__input {
  margin-bottom: 16px;
}
.form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: left;
  padding-left: 16px;
  text-transform: uppercase;
}
.form__input-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 280px;
  padding: 16px 0 16px 16px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
}
.form__input-text::placeholder {
  color: #000000;
}
.form__legend-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__legend-title--contacts {
  padding: 24px 41px 0;
}
.form__contacts-wrapper {
  padding: 20px 20px 18px;
  margin: 0;
}
.form__contacts-wrapper .form__input-text::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__input--contacts {
  position: relative;
}
.form__icon {
  width: 58px;
  height: 38px;
  position: absolute;
  background-color: #e6e6e6;
  padding-top: 20px;
  right: 0;
}
.form__legend-title--impression {
  padding: 24px 43px 0 44px;
}
.form__impression-wrapper {
  margin: 0;
  padding: 20px 20px 8px;
}
.form__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__legend-title--sights {
  padding: 24px 42px 0;
}
.form__sights-wrapper {
  padding: 20px 20px 8px;
  margin: 0;
}
.form__fieldset--emotions {
  font-family: "PT Sans", sans-serif;
}
.form__legend-title--emotions {
  padding: 24px 37px 20px 38px;
}
.form__textarea {
  font-family: "PT Sans", sans-serif;
  width: 247px;
  min-height: 118px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  border: 0;
  margin: 0 21px 56px 20px;
  background-color: #f2f2f2;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__submit-wrapper {
  font-family: "PT Sans", sans-serif;
}
.form__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 19px 34px 14px 32px;
  background-color: #81b3d2;
  text-transform: uppercase;
}
.form__notification {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  margin: 0;
  padding-right: 20px;
}
.modal-form--luck {
  font-family: "PT Sans", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-form--block {
  display: none;
}
.modal-form__container-luck {
  width: 320px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-form__wrapper-luck {
  padding: 44px 39px 30px 37px;
}
.modal-form__title-luck {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 36px;
}
.modal-form__description-luck {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.modal-form__button-luck {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 18px 62px 14px 60px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.modal-form--failure {
  font-family: "PT Sans", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-form--none {
  display: none;
}
.modal-form__container-failure {
  width: 320px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-form__wrapper-failure {
  padding: 45px 42px 28px 41px;
}
.modal-form__title-failure {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;
}
.modal-form__description-failure {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.modal-form__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 18px 64px 14px 63px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin-bottom: 35px;
}
/*# sourceMappingURL=style.css.map */
