.advantages {
  position: relative;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  padding: 23px 18px 22px;
}

.advantages__item--housing {
  padding-top: 8px;
}

.advantages__item--housing::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-house.svg");
  width: 39px;
  height: 37px;
  left: 18px;
  top: 26px;
  background-repeat: no-repeat;
}

.advantages__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-burger.svg");
  width: 40px;
  height: 35px;
  left: 18px;
  top: 160px;
  background-repeat: no-repeat;
}

.advantages__item--gift::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-gift.svg");
  width: 32px;
  height: 38px;
  left: 18px;
  top: 265px;
  background-repeat: no-repeat;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 47px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 47px;
}
