.main-container__promo {
  min-height: 389px;
  background-color: #3f5e72;
  background-image: url("../img/phone/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container__promo-logo {
  padding-top: 90px;
}
