.main-footer__wrapper {
  background-color: #ffffff;
  text-align: center;
}

.main-footer__hashtag-link {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  padding: 28px 78px 33px 76px;
}

.main-footer__social {
  padding: 0 80px 0 84px;
}

.main-footer__copyright {
  padding: 40px 119px 29px 80px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .main-footer__hashtag-link {
    margin: 0;
    padding: 45px 111px 45px 59px;
  }

  .main-footer__social {
    padding: 32px 0;
    margin: 0;
  }

  .main-footer__copyright {
    padding: 42px 0 42px 118px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__hashtag-link {
    padding: 47px 269px 45px 117px;
  }

  .main-footer__social {
    padding-top: 37px;
  }

  .main-footer__copyright {
    padding: 48px 0 43px 274px;
  }
}
