.main-nav {
  position: relative;
}

.main-nav__logo {
  height: 96px;
  position: absolute;
  left: 70px;
  bottom: -39px;
}

.main-nav__menu-wrapper {
  height: 56px;
  background-color: #ffffff;
}

.main-nav__menu-open {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (min-width: @tablet-width) {
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 300px;
  }

  .main-nav__menu-wrapper {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 500px;
  }

  .main-nav__menu-wrapper {
    display: none;
  }
}
