.map {
  background-color: #9acd32;
  margin-bottom: 10px;
  background-image: url("../img/phone/map.jpg");
  width: 320px;
  height: 350px;
}

.map__google {
  border: none;
  display: block;
}

@media (min-width: @tablet-width) {
  .map {
    background-color: #9acd32;
    margin: 0;
    background-image: url("../img/tablet/map-tablet.jpg");
    width: 768px;
    height: 350px;
  }

  .map__google {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    background-color: #9acd32;
    background-image: url("../img/desktop/map-desktop.jpg");
    width: 1200px;
    height: 350px;
  }

  .map__google {
    width: 1200px;
    height: 350px;
  }
}
