.page-main__promo {
  position: relative;
  width: 320px;
  min-height: 158px;
  background-image: url("../img/phone/catalog-form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f5e72;
}

.page-main__promo-logo {
  padding-top: 52px;
}

@media (max-width: @mobile-width-only) {
  .page-main__promo::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 57px;
    background-image: url("../img/phone/intro-triangle.svg");
    bottom: 0;
    left: 0;
  }
}

.page-main__header {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}

.page-main__wrapper-catalog {
  padding: 36px 20px 33px;
}

.page-main__wrapper-form {
  padding: 36px 20px 28px;
}

.page-main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}

.page-main__title-form {
  margin-bottom: 24px;
}

.page-main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}

.page-main__photo {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.page-main__video-gallery {
  font-family: "PT Sans", sans-serif;
}

@media (max-width: @mobile-width-only) {
  .page-main__header {
    position: relative;
  }

  .page-main__wrapper-catalog {
    padding: 36px 20px 33px;
  }

  .page-main__wrapper-catalog::after {
    position: absolute;
    content: "";
    width: 320px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    bottom: -4px;
    left: 0;
  }

  .page-main__video-gallery {
    position: relative;
  }

  .page-main__video-gallery::before {
    position: absolute;
    content: "";
    width: 320px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .page-main__container {
    width: 648px;
    margin: 0 auto;
  }

  .page-main__container-form {
    width: 648px;
    margin: 0 auto;
  }

  .page-main__wrapper-catalog {
    padding: 62px 95px 63px;
  }

  .page-main__wrapper-form {
    padding: 64px 106px 102px 107px;
  }

  .page-main__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .page-main__container-form {
    width: 960px;
    margin: 0 auto;
  }

  .page-main__wrapper-catalog {
    padding: 100px 372px 65px 370px;
  }

  .page-main__wrapper-form {
    padding: 115px 260px 67px 264px;
  }

  .page-main__title {
    margin-bottom: 32px;
  }
}
