.reasons__wrapper {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
}

.reasons__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;
}

.reasons__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.reasons__list {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  position: relative;
}

.reasons__city {
  background-color: #81b3d2;
  padding: 54px 22px 40px 16px;
}

.reasons__background {
  background-color: #81b3d2;
  padding: 39px 16px 35px 15px;
}

.reasons__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.reasons__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.reasons__number--colour {
  color: #ffffff;
}

.reasons__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-top: 13px;
}

.reasons__title--advantages {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 47px;
}

.reasons__description--advantages {
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 47px;
}

@media (max-width: @mobile-width-only) {
  .reasons__header {
    margin: 0;
    padding: 32px 20px 32px 18px;
  }

  .reasons__block {
    line-height: 0;
  }

  .reasons__landscapes {
    line-height: 0;
  }


  .reasons__item::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 37px;
    background-image: url("../img/phone/white-divider.svg");
    top: -15px;
    left: 0;
  }

  .reasons__advantages {
    position: relative;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    list-style-type: none;
    padding: 23px 18px 22px;
  }

  .reasons__item--housing {
    padding-top: 8px;
  }

  .reasons__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone/icon-house.svg");
    width: 40px;
    height: 40px;
    left: 18px;
    top: 26px;
    background-repeat: no-repeat;
  }

  .reasons__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone/icon-burger.svg");
    width: 40px;
    height: 40px;
    left: 18px;
    top: 160px;
    background-repeat: no-repeat;
  }

  .reasons__item--gift::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone/icon-gift.svg");
    width: 40px;
    height: 40px;
    left: 20px;
    top: 274px;
    background-repeat: no-repeat;
  }

  .reasons__item--square {
    background-color: #eeeeee;
    padding: 26px 26px 24px;
  }

  .reasons__item--road {
    background-color: #eeeeee;
    padding: 24px 23px;
  }

  .reasons__item--tourist {
    background-color: #eeeeee;
    padding: 26px 18px 24px;
  }

  .reasons__item--square::after {
    position: absolute;
    content: "";
    width: 284px;
    border: 1px solid #d6d6d6;
    left: 15px;
    bottom: 330px;
  }

  .reasons__item--road::after {
    position: absolute;
    content: "";
    width: 284px;
    border: 1px solid #d6d6d6;
    left: 15px;
    bottom: 162px;
  }

  .reasons__title--colour {
    color: #ffffff;
    margin-bottom: 11px;
  }

  .reasons__description--colour {
    color: #ffffff;
    margin-top: 17px;
  }
}

@media (min-width: @tablet-width) {
  .reasons__header {
    padding: 47px 124px 56px;
  }

  .reasons__slogan {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__block {
    display: flex;
    line-height: 0;
  }

  .reasons__pictures {
    width: 512px;
    height: auto;
  }

  .reasons__title {
    margin-bottom: 11px;
    font-size: 21px;
    line-height: 26px;
  }

  .reasons__title--colour {
    color: #ffffff;
    margin-bottom: 13px;
  }

  .reasons__description {
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .reasons__description--colour {
    color: #ffffff;
    margin-top: 23px;
  }

  .reasons__city {
    width: 192px;
    padding: 40px 32px 44px;
  }

  .reasons__item--bridge {
    width: 768px;
    line-height: 0;
  }

  .reasons__landscapes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .reasons__image {
    width: 512px;
    height: auto;
  }

  .reasons__background {
    width: 184px;
    padding: 43px 36px 41px;
  }

  .reasons__item--square {
    background-color: #eeeeee;
    width: 189px;
    padding: 41px 34px 63px 33px;
  }

  .reasons__item--road {
    background-color: #eeeeee;
    width: 162px;
    padding: 42px 48px 41px 46px;
  }

  .reasons__item--tourist {
    background-color: #eeeeee;
    width: 175px;
    padding: 42px 40px 42px 41px;
  }

  .reasons__advantages {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    padding: 0;
    list-style-type: none;
  }

  .reasons__item--housing {
    position: relative;
    padding: 158px 35px 59px 36px;
  }

  .reasons__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone/icon-house.svg");
    width: 75px;
    height: 72px;
    top: 63px;
    left: 90px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reasons__item--food {
    position: relative;
    padding: 159px 38px 59px 38px;
  }

  .reasons__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone/icon-burger.svg");
    width: 76px;
    height: 68px;
    top: 63px;
    left: 90px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reasons__item--gift {
    position: relative;
    padding: 158px 31px 81px 32px;
  }

  .reasons__item--gift::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone/icon-gift.svg");
    width: 64px;
    height: 75px;
    top: 59px;
    left: 96px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reasons__title--advantages {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
  }

  .reasons__description--advantages {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reasons__header {
    padding: 59px 359px 44px 357px;
  }

  .reasons__slogan {
    margin-bottom: 29px;
  }

  .reasons__city {
    width: 295px;
    padding: 47px 52px 56px 53px;
  }

  .reasons__item--bridge {
    width: 1200px;
  }

  .reasons__background {
    width: 243px;
    padding: 51px 78px  52px 79px;
  }

  .reasons__pictures {
    width: 800px;
    height: auto;
  }

  .reasons__image {
    width: 800px;
    height: auto;
  }

  .reasons__item--square {
    width: 315px;
    padding: 42px 43px 62px 42px;
  }

  .reasons__item--road {
    width: 292px;
    padding: 42px 54px 62px;
  }

  .reasons__item--tourist {
    width: 290px;
    padding: 43px 55px 62px;
  }

  .reasons__advantages {
    grid-template-columns: 400px 400px 400px;
  }

  .reasons__item--housing {
    padding: 159px 60px 79px 58px;
  }

  .reasons__item--housing::before {
    top: 60px;
    left: 160px;
  }

  .reasons__item--food {
    padding: 159px 52px 79px 52px;
  }

  .reasons__item--food::before {
    top: 60px;
    left: 160px;
  }

  .reasons__item--gift {
    padding: 159px 50px 79px 50px;
  }

  .reasons__item--gift::before {
    top: 56px;
    left: 164px;
  }

  .reasons__title--advantages {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 24px;
  }
}
