.site-list {
  margin: 0;
  padding: 0;
  min-height: 55px;
}

.site-list__item {
  list-style-type: none;
}

.site-list__item--main {
  padding: 17px 108px 12px 109px;
}

.site-list__item--multimedia {
  padding: 17px 83px 12px 81px;
}

.site-list__item--form {
  padding: 17px 78px 12px 77px;
}

.site-list__item--academy {
  padding: 17px 81px 12px 81px;
}

.site-list__link {
  min-height: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
